@page
@model AntiForgeryModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Access Denied</h1>
<p>This page is protected with Anti-Forgery. Please Go Back and try again</p>
<a href="/Login" class="btn btn-primary">Go Back to Login</a>
<a href="/Register" class="btn btn-primary">Go Back to Register</a>

@if (Model.ShowRequestId) {
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
