@page
@model _230627W_Ace_Job_Agency.Pages.LoginModel
@{}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Login </h1>

            @if (!ViewData.ModelState.IsValid) {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors)) {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

			<form method="post" asp-antiforgery="true">
				
				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Email">Email Address</label>
					<input type="Text" asp-for="LModel.Email" class="form-control" required />
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="password" asp-for="LModel.Password" class="form-control" required />
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
					<label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
				</div>

				<div class="mb-3">
                    <button class="g-recaptcha btn btn-primary px-4 py-2 rounded shadow-lg" 
                            data-sitekey="6LeU9dAqAAAAABfn83YTLgXmanRiPZ_wiuBYZMbf" 
                            data-callback="onSubmit" 
                            data-action="submit" 
                            type="submit">
                        Login
                    </button>
                </div>
			</form>
		</div>
	</div>
</div>

<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    function onSubmit(token) {
        document.querySelector("form").submit();
    }
</script>